#map {
  min-height: 300px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i, .info i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.btn-container {
  padding-bottom: 20px;
}

button.btn.active {
  border-color: none;
  box-shadow: none;
}

button.btn {
  margin: 0 5px;
  background-color: #F0F0F0;
}

button.dem.active, button.dem:hover {
  background-color: #16628f; 
  color: white;
}

button.gop.active, button.gop:hover {
  background-color: #993300;
  color: white;
}